langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.78
langchain-text-splitters==0.3.11
langchain-chroma
langchain-groq
chromadb
sentence-transformers
kagglehub
streamlit
pandas
python-dotenv